.elementor-kit-5{--e-global-color-primary:#D83377;--e-global-color-secondary:#EFEFF4;--e-global-color-text:#7A7A7A;--e-global-color-accent:#61CE70;--e-global-typography-primary-font-family:"Metropolis";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Open Sans";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Open Sans";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Open Sans";--e-global-typography-accent-font-weight:500;}.elementor-kit-5 e-page-transition{background-color:#FFBC7D;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-con{--container-max-width:1140px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;}{}h1.entry-title{display:var(--page-title-display);}.site-header .site-branding{flex-direction:column;align-items:stretch;}.site-header{padding-inline-end:0px;padding-inline-start:0px;}.site-footer .site-branding{flex-direction:column;align-items:stretch;}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('https://indosakura.com/wp-content/uploads/2025/01/Metropolis-ExtraBold.woff2') format('woff2'),
		url('https://indosakura.com/wp-content/uploads/2025/01/Metropolis-ExtraBold.woff') format('woff');
}
@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('https://indosakura.com/wp-content/uploads/2025/01/Metropolis-Bold.woff2') format('woff2'),
		url('https://indosakura.com/wp-content/uploads/2025/01/Metropolis-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('https://indosakura.com/wp-content/uploads/2025/01/Metropolis-Black.woff2') format('woff2'),
		url('https://indosakura.com/wp-content/uploads/2025/01/Metropolis-Black.woff') format('woff');
}
@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('https://indosakura.com/wp-content/uploads/2025/01/Metropolis-Thin.woff2') format('woff2'),
		url('https://indosakura.com/wp-content/uploads/2025/01/Metropolis-Thin.woff') format('woff');
}
@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('https://indosakura.com/wp-content/uploads/2025/01/Metropolis-SemiBold.woff2') format('woff2'),
		url('https://indosakura.com/wp-content/uploads/2025/01/Metropolis-SemiBold.woff') format('woff');
}
@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('https://indosakura.com/wp-content/uploads/2025/01/Metropolis-Regular.woff2') format('woff2'),
		url('https://indosakura.com/wp-content/uploads/2025/01/Metropolis-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('https://indosakura.com/wp-content/uploads/2025/01/Metropolis-Medium.woff2') format('woff2'),
		url('https://indosakura.com/wp-content/uploads/2025/01/Metropolis-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('https://indosakura.com/wp-content/uploads/2025/01/Metropolis-Light.woff2') format('woff2'),
		url('https://indosakura.com/wp-content/uploads/2025/01/Metropolis-Light.woff') format('woff');
}
@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('https://indosakura.com/wp-content/uploads/2025/01/Metropolis-ExtraLight.woff2') format('woff2'),
		url('https://indosakura.com/wp-content/uploads/2025/01/Metropolis-ExtraLight.woff') format('woff');
}
/* End Custom Fonts CSS */